---
export interface Props {
    name: string;
	nameKana: string;
    image?: string;
    title: string;
    link?: string;
	description: string;
}

const { 
    name,
    nameKana,
    image = 'https://cdn2.aprico-media.com/production/imgs/images/000/008/511/original.jpg?1505866639',
    title,
    link,
    description,
} = Astro.props;
---

<div class="lg:px-18 py-4 lg:py-0">
    <div class="relative mx-auto aspect-square h-40">
        <img
            class="rounded-lg object-cover w-full h-full"
            src={image}
            alt={name}
        />
    </div>
    <div class="p-2 md:h-48">
        <h3 class="flex justify-center text-center text-xl font-bold lg:py-3 lg:text-2xl">
            {nameKana}
            <br />
            {name}
        </h3>
        <div class="py-2">
            <h4 class="text-center text-stone-700">{title}</h4>
            {link && 
            <div class="text-center text-blue-400">
                <a href={`https://${link}`}>{link}</a>
            </div>
            }
        </div>
    </div>
    <p class="p-4 md:h-64">
        {description}
    </p>
</div>